@import url('https://fonts.cdnfonts.com/css/bauhaus-modern');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.logo{
  font-family: "Comfortaa", sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
*{
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
 
  scroll-behavior: smooth;
}
.hq{
  font-family: "Bebas Neue", sans-serif;
  
}


.hd{
  font-family: 'Bauhaus Modern', sans-serif;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.bgColor{
  background: linear-gradient(180deg, #000, transparent 50%), linear-gradient(90deg, #17d1c6, #336aea 19.84%, #8d639e 39.68%, #eb644c 59.52%, #ea7e11 79.36%, #44b678 99.2%), linear-gradient(0deg, transparent, #000 40%);
  height: 100%;
  width: 100%;
  top: 0;
  opacity: .5;
  left: 0;

}
input[type=file]{
  display: none;

}
.no_scroll{
  overflow: hidden;
}
.category div:nth-child(even) {
  transform: rotate(10deg);
  transition: .3s;
  
}
.category div:hover:nth-child(even) {
  transform: scale(1.1);
  transition: .3s;
  
}
.category div:hover:nth-child(odd) {
  transform: rotate(5deg);
  transition: .3s;
}
.category div:nth-child(odd) {
  transform: rotate(-20deg);
  transition: .3s;
}
.gg{
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f1edf8' fill-opacity='0.5' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.herosvg{
  background: url('https://cdn.svgator.com/images/2023/03/animated-geometric-shapes-background.svg') no-repeat center;
  background-size: cover;
  height: 650px;
  width: 100%;
}
.black{

  width: 100%;
  height: 100%;
  background: #000000ab;
  position: absolute;
  top: 0;
  z-index: 0;
}
/* .scroll_container{
  overflow: hidden;
  white-space: nowrap;

}

@keyframes scrollLoop {
  
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
}

.scroll_content{
  animation: scrollLoop 10s linear ;
} */